*{
	margin: 0;
	padding: 0;
	border: 0;
	#purchase{
		#total-box{
			background-color:green;
			color:whitesmoke;
			font-weight: bold;
			font-size:15px;
			padding:10px;
			border-radius:25px;
		}
		.product-box{
			@include basic-box;
		}
	}
	#productList{
		text-align:center;
		background-color:#FFECEE;
		padding-left:10%;
		.product-box{
			@include basic-box;
		}

	}
}